#easy_index * {
	margin: 0;
	padding: 0;
	}

.easysmallindex{
	float: right;
	width: 200px;
	margin: 0 45px 0 10px;
	border-left: 5px #E0E0E0 solid;
	background-color: #EFEFEF;
	padding: 10px;
	}
	
.easylargeindex{ 
	width: 200px;
	border-right: 5px #E0E0E0 solid;
	background-color: #EFEFEF;
	padding: 10px;
	}

.easyindexhead {
	font: bold 1.0em Georgia, "Times New Roman", Times, serif;
	margin-bottom: 10px 0px 4px 0px;
	}
	
#easy_index ol li {
	list-style-type: none;
	}

#easy_index ol li a:link {
	color: #F47920;
	text-decoration: none;
	}
	
#easy_index ol li a:visited {
	text-decoration: none;
	color: #333;
	}
	
#easy_index ol li a:hover {
	text-decoration: underline;
	}